<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DAL.Oracle.Page">
    <resultMap id = "pageResult" type = "DAL.Oracle.Page"
               extends="DAL.Oracle.Wall.wallResult"/>

    <select id = "getAll" resultMap = "pageResult">
        SELECT * FROM MACOS.WALL WHERE id=1
    </select>

    <insert id = "callInsertWall" parameterType = "DAL.PostgreSQL.Page" statementType = "CALLABLE">
        {CALL insertwall(#{id}, #{description}, 1)}
    </insert>

    <insert id = "insert" parameterType = "DAL.Oracle.Page"
            useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO MACOS.WALL(id, description, walltype) VALUES (#{id}, #{description}, 1)
    </insert>

</mapper>