<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DAL.PostgreSQL.Message">
    <resultMap id = "messageResult" type = "DAL.PostgreSQL.Message">
        <result property = "id" column = "id"/>
        <result property = "text" column = "text"/>
        <result property = "sendingDate" column = "sendingdate"/>
        <result property = "seen" column = "seen"/>
        <result property = "userid" column = "userid"/>
    </resultMap>

    <select id="getById" resultMap="messageResult">
        SELECT * from "public".message where id=#{id}
    </select>

    <select id="getAll" resultMap="messageResult">
        SELECT * from "public".message
    </select>

    <select id="getUserMessages" parameterType="int" resultMap="messageResult">
        SELECT * FROM "public".message WHERE userid=#{id}
    </select>

    <insert id="insert" parameterType = "DAL.PostgreSQL.Message" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        <selectKey keyProperty="id" resultType="int" order="BEFORE">
            SELECT nextVal('my_sequence');
        </selectKey>
        INSERT INTO "public".message(id, text, sendingdate, seen, userid)
            VALUES (#{id}, #{text}, #{sendingDate}, #{seen}, #{userid});
    </insert>

    <delete id = "deleteById" parameterType = "int">
      DELETE from "public".message WHERE id = #{id};
   </delete>

    <update id="update" parameterType="DAL.PostgreSQL.Message">
      UPDATE "public".message SET
        text = #{text}
      WHERE ID = #{id};
    </update>
</mapper>